.layout {
    background: #ffffff;
}


.site-layout-content {
    background: #ffffff;
    padding:24px;
    min-height: 280px;
}

.site-layout-content h1 {
    font-size: 30px;
}

.contentStyle  {
    height: '160px';
    color: '#fff';
    background: '#364d79';
  };
